<!-- Error Page -->

<%- include('./partials/header.ejs')%>

    <div class = "content">
        <h2><%= error.status%> Error </h2> 
        <br><br><br><h4 class="err"><%= error.message%></h4><br><br><br>
    </div>
    
<%- include('./partials/footer.ejs')%>
