<%- include('./partials/header.ejs')%>
    <div class="homepage">
        <h1> CRYPTIC JEWELRY</h1>
        <h2> the best source for alternative jewerly </h2>
        <br>
        <h3><a href="/products">SHOP NOW</a></h3>
    </div>
    <!-- The video -->
    <video autoplay muted loop id="homePageVideo">
        <source src="../media/skull.mp4" type="video/mp4">
    </video>
<%- include('./partials/footer.ejs')%>