<%- include('./partials/header.ejs')%>

        <!-- MAIN -->
            <main>
                <h2>Black Pearl Sun Necklace</h2>
                <div class="container">
                    <div class="image-column">
                        <img src="media/items/item1.jpg" alt="Item Picture" class="item-image">
                    </div>
                    <div class="details-column">
                        <div class="item-details">
                            <strong>Condition:</strong> New
                        </div>
                        <div class="item-details">
                            <strong>Price:</strong> $100
                        </div>
                        <div class="item-details">
                            <strong>Offers Received:</strong> 3
                        </div>
                        <div class="item-details">
                            <strong>Seller:</strong> John Doe
                        </div>
                        <div class="buttons">
                            <button class="button edit-button">Edit</button>
                            <button class="button delete-button">Delete</button>
                        </div>
                    </div>
                </div>
            </main>

<%- include('./partials/footer.ejs')%>

