
        <!-- FOOTER -->
        <footer> 
            <p>Copyright © 2024 Katrina Wilson</p>
            <img class="footer-socials" src="/media/insta.png" alt="Intagram icon">
            <img class="footer-socials" src="/media/twitter.png" alt="Twitter icon">
            <img class="footer-socials" src="/media/facebook.png" alt="Facebook icon">
        </footer>
    </body>
</html>

