<!-- TITLE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Katrina Wilson ⚊ ITIS 4166 Project Home </title>
        <link rel="stylesheet" href ="/styles/p1.css">
    </head>


    <body>
        <!-- HEADER -->
        <header> 
            <a href="index.ejs"><img class="logo" src="../media/crpyticlogo.png" alt="Cryptic Jewelry Logo, skull with name under"></a>
            <input type="text" class="headersearch" placeholder="Search...">
        </header>
        <nav class="nav">
            <a href="items.ejs">Browse</a><br>
            <a href="new.ejs">Sell</a><br>
            <a href="">Sign Up</a><br>
            <a href="">Login</a><br>
        </nav>
    
